*{
	font-family: Arial, Helvetica, sans-serif;
}

/* Default divs */
.line{
    display: flex;
    justify-items: center;
}

.column{
    padding: 0px 10px;
    float: left;
}

.w50{
	width: 50%;
}

/* Text Styles */
h1{

}

nav{
	width: 50%;
}

strong{
	font-weight: 800;
}

.codeblock{
	padding: 10px 7px;
	border-left: 5px red solid;
	border-radius: 3px;
	background-color: black;
}

code{
	font-family: monospace;
	color: white;
}
