@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Ubuntu+Mono&display=swap');
*{
	font-family: Arial, Helvetica, sans-serif;
}

/* Default divs */
.line{
    display: flex;
    justify-items: center;
}

.column{
    padding: 0px 10px;
    float: left;
}

.w50{
	width: 50%;
}

/* Text Styles */
h1{
	font-size: 35px;
	font-weight: 900;
	padding: 10px;
	color: white;
	font-family: Roboto Mono;
}

h2{
	font-size: 35px;
	font-weight: 900;
	padding: 25px 0 15px 0;
	color: white;
	font-family: Roboto Mono;
}

h3{
	font-size: 30px;
	font-weight: 900;
	padding: 25px 0 15px 0;
	color: white;
	font-family: Roboto Mono;
}

h4{
	font-size: 27px;
	font-weight: 900;
	padding: 25px 0 15px 0;
	color: white;
	font-family: Roboto Mono;
}

h5{
	font-size: 25px;
	font-weight: 900;
	padding: 25px 0 15px 0;
	color: white;
	font-family: Roboto Mono;
}

p{
	font-size: 19px;
	line-height: 1.4;
	text-indent: 30px;
	color: white;
	font-family: Roboto Mono;
}

strong{
	font-weight: 800;
	font-family: Roboto Mono;
}

/* Header */
.logo, nav{
	width: 50%;
}


/* Main */
main{
	width: 60%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 30px;
	color: black;
	background-color: #222222;
}

.codeBlock{
	padding: 10px 7px;
	border-left: 5px red solid;
	border-radius: 3px;
	background-color: black;
	margin: 15px 0;
}

code{
	font-family: monospace;
	font-size: 14px;
	line-height: 1.7;
	color: white;
}

/* BODY */
body {
	background-color: #1c1c1c;
}

/* Footer */
footer{
	/* position: absolute; */
	background-color: #c4c4c4;
	color: white;
	width: 100%;
	/* bottom: 0px; */
	font-family: Roboto mono;
}

.footerText{
	color: black;
	font-weight: bolder;
	padding: 20px;
}

footer ul{
	width: 100%;
	max-width: 800px;
	height: 50px;
	margin: auto;
    display: flex;
    justify-content: space-between;
	align-items: center;
	color: black;
}

footer ul li{
	display: inline-block;
}

/*-------ESTILIZAÇÃO GERAL-------*/
.logo{
	padding: 10px;
	padding-left: 50px;
	color: white;
	font-family: Roboto Mono;
	font-weight: 300;
	font-size: 25px;
	line-height: 164%;
}

.menu {
	border: none;
	background: none;
	color: white;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
}

.menu:hover {
    cursor: pointer;
}