@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	font-family: Roboto Mono, Poppins, Arial, Helvetica, sans-serif;
	font-weight: 300;
	color: white;
}

/* Default divs */
.line{
    display: flex;
    justify-items: center;
}

.column{
    padding: 0;
    float: left;
}

.w50{
	width: 50%;
}

/* Text Styles */
h1{
	padding: 10px;
	font-weight: 300;
	font-family: Ubuntu Mono;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 164%;
	color: #e4e4e4;
}

h2, h3, h4, h5{
	font-weight: 700;
	padding: 30px 0 15px 0;
	color: black;
}

h2{
	font-size: 35px;
	text-align: center;
	color: black;
}

h3{
	font-size: 30px;
	color: black;
}

h4{
	font-size: 27px;
	color: black;
}

h5{
	font-size: 25px;
	color: black;
}

p{
	font-size: 19px;
	line-height: 1.4;
	text-indent: 30px;
	text-align: justify;
	color: black;
	font-family: Poppins;
}

strong{
	font-weight: bolder;
	color: black;
}

main ul{
	padding-top: 10px;
}

main ul ul{
	padding-top: 0;
}

main li, main li li{
	list-style-type: disc;
	padding-top: 1.5%;
	margin-left: 4%;
	font-size: 17px;
	line-height: 1.2;
	text-align: justify;
}

/* Header */
.logo{
	width: 20%;
	padding: 15px;
	padding-right: 0px;
	font-weight: 300;
	font-size: 25px;
	line-height: 164%;
	display: flex;
	justify-content: flex-end;
	font-family: Ubuntu mono;
}

.transition{
    animation-name: transition;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
	margin-left: 7px;
	font-size: 30px;
}

@keyframes transition {
    0%, 100%{
        opacity: 0%;
    }

    50%{
        opacity: 100%;
    }
}

nav{
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: center;
}

#navDiv{
	max-width: 700px;
	width: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 35%;
}

.menu {
	border: none;
	border-radius: 15px;
	background: #28833e;
	font-size: 19px;
	width: 120px;
	padding: 7px 0;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 100%;
	background: none;
}

.menu:hover {
    cursor: pointer;
	background: #C4C4C4;
	transition: 1s;
	color: black;
}

.active{
	background: #315838;
	color: white;
}

/* Main */
main{
	width: 90%;
	max-width: 1300px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 45px;
	color: black;
	background: #C4C4C4;
	border-radius: 15px 15px 0px 0px;
	max-width: 900px;
}

main li {
	color: black;
	font-family: Poppins;
	font-size: 19px;
}

.codeBlock{
	padding: 10px;
	border-left: 5px #315838 solid;
	border-radius: 3px;
	background-color: black;
	margin: 15px 0;
}

code{
	font-family: monospace;
	font-size: 14px;
	line-height: 1.7;
}

main a{
	color: black;
}

/* Body */
body {
	background-color: #151515;
}

/* Footer */
footer{
	font-size: 17px;
	background-color: #315838;
	width: 100%;
	bottom:0;
}

footer ul{
	width: 100%;
	max-width: 1000px;
	height: 55px;
	margin: auto;
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding: 10px;
}

footer ul li{
	display: inline-block;
	color: white;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 100%;
}

footer ul li:hover{
	cursor: pointer;
	text-decoration: underline;
}

footer strong{
	color: black;
}

a {
	text-decoration: none;
}

/*-------ÁREA DE EDIÇÃO LIVRE-------*/
#sudosu {
	background-color: #151515;
	border-radius: 50%;
}